@font-face {
  font-family: comicTitle;
  src: url("./fonts/KGHAPPY.ttf"); }
@font-face {
  font-family: comic2;
  src: url("./fonts/KICOBI__.TTF"); }
@font-face {
  font-family: comic1;
  src: url("./fonts/SF Wonder Comic.ttf"); }
body {
  font-family: comic2; }
  body a {
    color: #ffff00; }

@media (max-width: 550px) {
  .page-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    grid-template-areas: "intro intro intro intro intro intro" "sidebar sidebar sidebar sidebar sidebar sidebar" "main main main main main main"; }

  .intro {
    grid-area: intro;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: "header" "preamble" "summary";
    background-color: purple;
    grid-column-gap: 10px; }
    .intro header {
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: auto;
      grid-template-areas: "h1" "h2";
      grid-area: header;
      text-align: center;
      font-family: comicTitle;
      justify-self: center; }
      .intro header h1 {
        grid-area: h1;
        font-size: 3em; }
      .intro header h2 {
        grid-area: h2;
        font-size: 3em; }
    .intro .summary {
      grid-area: summary;
      background-color: #5f8ee4; }
    .intro .preamble {
      grid-area: preamble;
      background-color: #5f8ee4; }

  .main {
    grid-area: main;
    background-color: orange;
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: "req" "part" "ben" "exp" "foot"; }
    .main .explanation {
      grid-area: exp; }
    .main .participation {
      grid-area: part; }
    .main .benefits {
      grid-area: ben; }
    .main .requirements {
      grid-area: req; }
    .main div {
      background-color: #e6e6e6;
      border-radius: 10px; }
    .main footer {
      grid-area: foot;
      display: grid;
      justify-items: center;
      align-items: center;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      font-size: 1em;
      background-color: black; }
      .main footer a {
        text-decoration: none; }

  aside {
    grid-area: sidebar;
    background-color: #e4655f; }
    aside .wrapper {
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: auto;
      grid-template-areas: "des" "arch" "res"; }
      aside .wrapper .design-archives {
        grid-area: arch; }
      aside .wrapper .design-selection {
        grid-area: des; }
      aside .wrapper .zen-resources {
        grid-area: res; } }
@media (min-width: 550px) and (max-width: 900px) {
  .page-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    grid-template-areas: "intro intro intro intro intro intro" "sidebar sidebar sidebar sidebar sidebar sidebar" "main main main main main main"; }

  .intro {
    grid-area: intro;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "header header header" "preamble preamble preamble" "summary summary summary";
    background-color: lime;
    grid-column-gap: 10px; }
    .intro header {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: auto;
      grid-template-areas: "h1 h2 h2 h2";
      grid-area: header;
      text-align: center;
      font-family: comicTitle;
      justify-self: center; }
      .intro header h1 {
        grid-area: h1;
        font-size: 3em; }
      .intro header h2 {
        grid-area: h2;
        font-size: 3em; }
    .intro .summary {
      grid-area: summary;
      background-color: #5f8ee4; }
    .intro .preamble {
      grid-area: preamble;
      background-color: #5f8ee4; }

  .main {
    grid-area: main;
    background-color: orange;
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "req part ben" "req . exp" "foot foot foot"; }
    .main .explanation {
      grid-area: exp; }
    .main .participation {
      grid-area: part; }
    .main .benefits {
      grid-area: ben; }
    .main .requirements {
      grid-area: req; }
    .main div {
      background-color: #e6e6e6;
      border-radius: 10px; }
    .main footer {
      grid-area: foot;
      display: grid;
      justify-items: center;
      align-items: center;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      font-size: 2em;
      background-color: black; }
      .main footer a {
        text-decoration: none; }

  aside {
    grid-area: sidebar;
    background-color: #e4655f; }
    aside .wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      grid-template-areas: "des arch" "des res"; }
      aside .wrapper .design-archives {
        grid-area: arch; }
      aside .wrapper .design-selection {
        grid-area: des; }
      aside .wrapper .zen-resources {
        grid-area: res; } }
@media (min-width: 900px) {
  .page-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    grid-template-areas: "intro intro intro intro intro intro" "main main main main main sidebar"; }

  .intro {
    grid-area: intro;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "preamble header header" "preamble header header" "summary header header";
    background-color: lime;
    grid-column-gap: 10px; }
    .intro header {
      grid-area: header;
      font-size: 3em;
      text-align: center;
      font-family: comicTitle;
      justify-self: center; }
    .intro .summary {
      grid-area: summary;
      background-color: #5f8ee4; }
    .intro .preamble {
      grid-area: preamble;
      background-color: #5f8ee4; }

  .main {
    grid-area: main;
    background-color: orange;
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "req part ben" "req . exp" "foot foot foot"; }
    .main .explanation {
      grid-area: exp; }
    .main .participation {
      grid-area: part; }
    .main .benefits {
      grid-area: ben; }
    .main .requirements {
      grid-area: req; }
    .main div {
      background-color: #e6e6e6;
      border-radius: 10px; }
    .main footer {
      grid-area: foot;
      display: grid;
      justify-items: center;
      align-items: center;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      font-size: 2em;
      background-color: black; }
      .main footer a {
        text-decoration: none; }

  aside {
    grid-area: sidebar;
    background-color: #e4655f; } }

/*# sourceMappingURL=style.css.map */
